{% extends 'tweets.html.j2' %}

{% block title %} Search - {{ query }} {% endblock %}

{% block content_header %}
<div class="row narrow">
    <div class="col-full s-content__header" data-aos="fade-up">
        <h1>Search - {{ query }}</h1>
    </div>
</div>
{% endblock %}
