{% extends 'base.html.j2' %}

{% block extra_content_class %}s-content--narrow{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<article class="row format-standard">

    <div class="s-content__header col-full">
        <h1 class="s-content__header-title">
            Some Statistics
        </h1>
        <ul class="s-content__header-meta">
            <li class="date">Updated: {{ updated }} (UTC)</li>
        </ul>
    </div> <!-- end s-content__header -->

    <div class="col-full s-content__main">
      <p> This site currently has <b>{{ "{:,}".format(total_tweets) }}</b> tweets, <b>{{ total_tags }}</b> different tags, and has created <b>{{ total_groups }}</b> tweet groups.</p>
      <h2 style="margin-top: 0rem;"> Tweet Creation Time </h2>
      <div id="tweets-by-date">
      </div>
      <script>
        trace1 = {
          x: [{{ by_date_x}}],
          y: [{{ by_date_y}}],
          marker: {color: 'rgb(127, 127, 127)'},
          type: 'bar',
          uid: '6fa581ca-9871-11e8-98ac-4ccc6af6947c',
          xsrc: 'ceshine:126:5e5468',
          ysrc: 'ceshine:126:93bf7e'
        };
        data = [trace1];
        layout = {
          plot_bgcolor: 'rgb(243, 243, 243)',
          title: 'Number of Tweets by Date(UTC-8)',
          titlefont: {
            family: 'Courier New, monospace',
            size: 18
          },
          xaxis: {
            autorange: true,
            range: ['2018-05-31 12:00', '2018-08-02 12:00'],
            title: 'Date(UTC-8)',
            titlefont: {
              family: 'Courier New, monospace',
              size: 14
            },
            type: 'date'
          },
          yaxis: {
            autorange: true,
            gridcolor: 'rgb(255, 255, 255)',
            range: [0, 51.5789473684],
            type: 'linear'
          }
        };
        Plotly.plot('tweets-by-date', {
          data: data,
          layout: layout
        });
      </script>
      <div id="tweets-by-weekday-hour"></div>
      <script>
        trace1 = {
          x: [{{ by_weekday_hour_x}}],
          y: [{{ by_weekday_hour_y}}],
          type: 'bar',
          marker: {color: 'rgb(127, 127, 127)'},
          uid: '28eba638-9871-11e8-98ac-4ccc6af6947c',
          xsrc: 'ceshine:121:4c595d',
          ysrc: 'ceshine:121:cf4ecb'
        };
        data = [trace1];
        layout = {
          plot_bgcolor: '#ffffff',
          shapes: [
            {
              fillcolor: 'rgb(243, 243, 243)',
              layer: 'below',
              line: {width: 0},
              opacity: 1,
              type: 'rect',
              x0: 'Tue-0',
              x1: 'Tue-23',
              xref: 'x',
              y0: 0,
              y1: 1,
              yref: 'paper'
            },
            {
              fillcolor: 'rgb(243, 243, 243)',
              layer: 'below',
              line: {width: 0},
              opacity: 1,
              type: 'rect',
              x0: 'Thu-0',
              x1: 'Thu-23',
              xref: 'x',
              y0: 0,
              y1: 1,
              yref: 'paper'
            },
            {
              fillcolor: 'rgb(243, 243, 243)',
              layer: 'below',
              line: {width: 0},
              opacity: 1,
              type: 'rect',
              x0: 'Sat-0',
              x1: 'Sat-23',
              xref: 'x',
              y0: 0,
              y1: 1,
              yref: 'paper'
            }
          ],
          title: 'Number of Tweets by Weekday-Hour(UTC-8)',
          titlefont: {
            family: 'Courier New, monospace',
            size: 18
          },
          xaxis: {
            autorange: true,
            range: [-0.5, 166.5],
            title: 'Weekday-Hour(UTC-8)',
            titlefont: {
              family: 'Courier New, monospace',
              size: 14
            },
            type: 'category'
          },
          yaxis: {
            autorange: true,
            gridcolor: 'rgb(255, 255, 255)',
            range: [0, 30.5263157895],
            type: 'linear'
          }
        };
        Plotly.plot('tweets-by-weekday-hour', {
          data: data,
          layout: layout
        });
      </script>
      <div id="tweets-by-hour"></div>
      <script>
        trace1 = {
          x: [{{ by_hour_x}}],
          y: [{{ by_hour_y}}],
          type: 'bar',
          marker: {color: 'rgb(127, 127, 127)'},
          uid: '51a1668a-9871-11e8-98ac-4ccc6af6947c',
          xsrc: 'ceshine:125:72ad10',
          ysrc: 'ceshine:125:1b31ae'
        };
        data = [trace1];
        layout = {
          plot_bgcolor: 'rgb(243, 243, 243)',
          title: 'Number of Tweets by Hour(UTC-8)',
          titlefont: {
            family: 'Courier New, monospace',
            size: 18
          },
          xaxis: {
            autorange: true,
            range: [-0.5, 23.5],
            title: 'Hour(UTC-8)',
            titlefont: {
              family: 'Courier New, monospace',
              size: 14
            },
            type: 'linear'
          },
          yaxis: {
            autorange: true,
            gridcolor: 'rgb(255, 255, 255)',
            range: [0, 137.894736842],
            type: 'linear'
          }
        };
        Plotly.plot('tweets-by-hour', {
          data: data,
          layout: layout
        });
      </script>
      <div id="tweets-by-weekday"></div>
      <script>
        trace1 = {
          x: [{{ by_weekday_x}}],
          y: [{{ by_weekday_y}}],
          type: 'bar',
          marker: {color: 'rgb(127, 127, 127)'},
          uid: '6747c150-9871-11e8-98ac-4ccc6af6947c',
          xsrc: 'ceshine:123:4cde03',
          ysrc: 'ceshine:123:c40ef3'
        };
        data = [trace1];
        layout = {
          plot_bgcolor: 'rgb(243, 243, 243)',
          title: 'Number of Tweets by Weekday(UTC-8)',
          titlefont: {
            family: 'Courier New, monospace',
            size: 18
          },
          xaxis: {
            autorange: true,
            range: [-0.5, 6.5],
            title: 'Weekday(UTC-8)',
            titlefont: {
              family: 'Courier New, monospace',
              size: 14
            },
            type: 'category'
          },
          yaxis: {
            autorange: true,
            gridcolor: 'rgb(255, 255, 255)',
            range: [0, 309.473684211],
            type: 'linear'
          }
        };
        Plotly.plot('tweets-by-weekday', {
          data: data,
          layout: layout
        });
      </script>
    </div> <!-- end s-content__main -->
  </article>
{% endblock %}

{% block tags %}
{% endblock %}
