{% extends 'tweets.html.j2' %}

{% block title %} Tag - {{ tag_name }} {% endblock %}

{% block content_header %}
<div class="row narrow">
    <div class="col-full s-content__header" data-aos="fade-up">
        <h1>Tag: {{ tag_name }}</h1>
    </div>
</div>
{% endblock %}
