{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Single Tweet by @{{ tweet['author'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="row format-standard">
    <div class="s-content__header col-full">
        <h1 class="s-content__header-title">
            Tweeted By @{{ tweet['author'] }}
        </h1>
        <ul class="s-content__header-meta">
            <li class="date">on {{ tweet['timestamp'].strftime('%Y-%m-%d') }} (UTC)</li>
            <li class="cat">
              {% for tag in tags[tweet['tid']] %}<a href="{{ url_for('tweets.tag', tag_name=tag) }}">{{ tag }}</a>{% endfor %}
            </li>
        </ul>
        <ul class="s-content__header-meta">
          {% if groups[tweet['tid']]|length > 0 %}In {%for group in groups[tweet['tid']] %}
            <li><a href="{{ url_for('tweets.group', group_id=group[0]) }}">a group with {{ group[1] - 1 }} other tweets.</a></li>
          {% endfor %}{% endif %}
        </ul>
    </div> <!-- end s-content__header -->
    <div class="s-content__media col-full">
        <center>
          <blockquote class="twitter-tweet"{% if tweet['no_conversation'] %} data-conversation="none"{% endif %}>
            {{ tweet['block_quote']|safe }}</blockquote>
        </center>
    </div> <!-- end s-content__media -->
  </article>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
