{% extends 'base.html.j2' %}

{% block title %} Ceshine's Data Science Tweet Collection {% endblock %}

{% block tweets %}
  {% for tweet in tweets %}
    <article class="masonry__brick entry format-standard" data-aos="fade-up">
      <div class="entry__text">
          <div class="entry__header">
              <div class="entry__date">
                  <a href="{{ url_for('tweets.tweet', tid=tweet.tid) }}">by {{ tweet['author'] }} on {{ tweet['timestamp'].strftime('%Y-%m-%d') }} (UTC).</a>
              </div>
          </div>
          <div class="entry__excerpt">
            <blockquote class="twitter-tweet"{% if tweet['no_conversation'] %} data-conversation="none"{% endif %} data-width="350" style="font-size:10px;">
              {{ tweet['block_quote']|safe }}
            </blockquote>
          </div>
          <div class="entry__meta">
            <span class="entry__meta-links">
              {% for tag in tags[tweet['tid']] %}<a href="{{ url_for('tweets.tag', tag_name=tag) }}">{{ tag }}</a>{% endfor %}
            </span>
          </div>
          <div class="entry__meta">
            <span>
              {% if groups and groups[tweet['tid']]|length > 0 %}In {%for group in groups[tweet['tid']] %}
                <a href="{{ url_for('tweets.group', group_id=group[0]) }}">a group with {{ group[1] - 1 }} other tweets</a>{% if not loop.last %}, {% else %}.{% endif %}
              {% endfor %}{% endif %}
            </span>
          </div>
      </div>
    </article> <!-- end article -->
  {% endfor %}
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    <script>
      twttr.ready(
        function () {
          twttr.events.bind(
            'loaded',
            function (event) {
              // event.widgets.forEach(function (widget) {
              //   console.log("Created widget", widget.id);
              // });
              $('.masonry').masonry('layout');
            }
          );
        }
      );
    </script>
{% endblock %}
{% block paginate %}
  {% if total_pages > 1 %}
  <div class="row">
      <div class="col-full">
          <nav class="pgn">
              <ul>
                  {% if current_page > 1 %}
                  <li><a class="pgn__prev" href="{{ base_url }}page/{{ current_page-1 }}">Prev</a></li>
                  {% endif %}
                  {% for page in page_range %}
                    {% if page == current_page %}
                      <li><span class="pgn__num current">{{ current_page }}</span></li>
                    {% else %}
                      <li><a class="pgn__num" href="{{ base_url }}page/{{ page }}">{{ page }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if current_page < total_pages %}
                    {% if page_range|max + 1 < total_pages %}
                    <li><span class="pgn__num dots">…</span></li>
                    {% endif %}
                    <li><a class="pgn__next" href="{{ base_url }}page/{{ current_page+1 }}">Next</a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
  </div>
  {% endif %}
{% endblock %}
